body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#menu {
    position: fixed;
    width: 250px;
    transition: right 0.2s;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0rem 0rem 1rem;
    backdrop-filter: blur(8px);
    background-color: #0008;
    height: 100%;
}

#menu_content {
    overflow-y: auto;
    margin-bottom: 2rem;
}

#toggle_menu {
    transition: transform 0.2s;
    width: 3rem;
    height: 3rem;
    padding: 0px;
    border: none;
    background: none;
    margin-bottom: 1rem;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #toggle_menu {
        transform: translateX(calc(-100% - 2rem));
    }

    #menu {
        right: calc(-250px - 2rem);
    }

    #screen {
        aspect-ratio: 10/9;
        image-rendering: pixelated;
    }
}

main[data-menu-open] {
    #toggle_menu {
        transform: unset;
    }

    #menu {
        right: 0px;
    }
}


/* Minimum aspect ratio */
@media (min-aspect-ratio: 160/144) {
    #screen {
        height: 100%;
    }
}

@media (max-aspect-ratio: 160/144) {
    #screen {
        width: 100%;
    }
}